@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
}

#titulo-section-login {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 24px;
}

#block-principal-login {
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px auto;
    padding: 5px;
    height: 250px;
    width: 400px;
}

#p-block-entar {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 28px;
}