@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

 header {
    background-image: linear-gradient(to bottom, #03d4c3, #0f9fca);
    color: white;
    height: 100px;
}

@font-face {
    font-family: 'Nexa Heavy';
    src: url('fontes/nexa/Nexa-Heavy.ttf') format('truetype');
}

:root {
    --font01: 'Nexa Heavy', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial','sans-serif';
}

#titulo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45px;
    font-style: normal;
    text-align: center;
}
  
a {
    color: white;
    text-decoration: none;
}

#menu-link-a {
    background: rgb(29, 29, 29);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-size: 18px;
    padding: 10px;
    margin: 10px 0px;
    display: flex;
    justify-content: space-around;
}

main {
    background: #00000062;
}

div#p {
    font-size: 30px;
    font-family: var(--font01);
    position: relative;
    bottom: 10px;
    padding: 10px;
    margin: 0px 35px ;
    display: flex;
    justify-content: space-between;
}

.fundo-img {
    padding: 10px 0px;
    display: flex;
    justify-content: space-between;
}

.fone-img-fundo {
    filter: drop-shadow(1px 1px 10px #73c1dfe5);
    position: relative;
    bottom: 20px;
    left: 25px;
    height: 187px;
    transition: 750ms;
}

.fone-img-fundo:hover {
    transform: translateY(-8px)
}

.videogamer-img-fundo {
    filter: drop-shadow(1px 1px 10px #1f7fec83);
    border-radius: 15px;
    position: relative;
    left: 10px;
    bottom: 20px;
    transition: 750ms;
}

.videogamer-img-fundo:hover {
    transform: translateY(-8px);
}

.smartphone-fundo {
    filter: drop-shadow(1px 3px 8px #ff3abd73);
    position: relative;
    bottom: 20px;
    right: 20px;
    transition: 750ms;
}

.smartphone-fundo:hover {
    transform: translateY(-8px);
}

.camisa-fundo {
    filter: drop-shadow(1px 1px 8px #003cff75);
    position: relative;
    bottom: 20px;
    right: 35px;
    transition: 700ms;
}

.camisa-fundo:hover {
    transform: translateY(-8px);
}

div > p {
    font-family: var(--font01), Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 30px;
    padding: 10px;
    text-align: center;
    display: grid;
}