@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

html , body {
    height: 100vh;
}

header {
    background-image: linear-gradient(to bottom, #2fd4fd 55%, #011c74);
    color: white;
    height: 100px;
}

@font-face {
    font-family: 'Nexa Heavy';
    src: url('fontes/nexa/Nexa-Heavy.ttf') format('truetype');
}

:root {
    --font01: 'Nexa Heavy', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial','sans-serif';
}

#titulo {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 45px;
    font-style: normal;
    text-align: center;
}
  
a {
    color: white;
    text-decoration: none;
}

.a-hover {
    padding: 4px 4px;
}

.a-hover:hover {
    border: 1px solid white;
    padding: 3px;
}

#menu-link-a {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: normal;
    font-size: 18px;
    margin: 3px 0px;
    padding: 10px 10px;
    display: flex;
    justify-content: space-around;
}

.fundo-img {
    background: #2c2d2e21;
    display: flex;
    justify-content: space-around;
}

section > p {
    color: #000000;
    font-family: var(--font01);
    font-size: 25px;
    padding-bottom: 1px;
    text-align: center;
}

.fone-img-fundo {
    filter: drop-shadow(1px 1px 10px #73c1dfe5);
    border-radius: 15px;
    transition: 750ms;
}

.fone-img-fundo:hover {
    transform: translateY(-5px)
}

.videogamer-img-fundo {
    filter: drop-shadow(1px 1px 10px #22242783);
    transition: 750ms;
}

.videogamer-img-fundo:hover {
    transform: translateY(-5px);
}

.smartphone-fundo {
    filter: drop-shadow(1px 3px 8px #ff3abd73);
    transition: 750ms;
}

.smartphone-fundo:hover {
    transform: translateY(-5px);
}

.camisa-fundo {
    filter: drop-shadow(1px 1px 8px #003cff75);
    transition: 700ms;
}

.camisa-fundo:hover {
    transform: translateY(-5px);
}

#block-amazom-mais-vendidos {
    background-image: linear-gradient(to bottom, #273d96, #2c48e6);
    border: 1px solid #00000063;
    border-radius: 5px;
    box-shadow: #00000071 1px 1px 15px 4px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    position: relative;
    left: 40px;
    margin: 25px 0px;
    padding: 5px;
    width: 220px;
}

#centralizando-mais-vendidos-na-amazon {
    padding: 5px 0px;
    text-align: center;
    transition: 800ms;
}

#centralizando-mais-vendidos-na-amazon:hover {
    transform: scale(1.03);
}

@media(max-width:720px) {
    section > p {
        font-size: 17px;
    }
    #menu-link-a{
        font-size: 15px;
        position: relative;
        top: 5px;
    }
    header {
        height: 90px;
    }
    #titulo {
        font-size: 35px;
    }
}